<h3>Scientific Data Details</h3>
@if (CurrentScientificData is not null)
{
    <p>DataType : @CurrentScientificData.DataType</p>
    <p>DetailData : @CurrentScientificData.DetailData</p>
    <p>ReferenceData : @CurrentScientificData.ReferenceData</p>
}

@code {

}
