<h3>Detail New User Register</h3>

@if (CurrentNUserRegister is not null)
{
    <p>Pseudo : @CurrentNUserRegister.Pseudo</p>
    <p>Email : @CurrentNUserRegister.Email</p>
    <p>Password : @CurrentNUserRegister.Password</p>
    <p>SecondPassword : @CurrentNUserRegister.SecondPassword</p>
}

@code {

}
