<h3>Add Site</h3>

<EditForm Model="SiteRegisterForm" @OnSubmit="submit" class="form-control">
    <div class="form-control-sm">
        <label>Site_Name</label>
        <InputNumber @bind-Value="SiteRegisterForm.Site_Name"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Site_Description</label>
        <InputNumber @bind-Value="SiteRegisterForm.Site_Description"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Latitude</label>
        <InputNumber @bind-Value="SiteRegisterForm.Latitude"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Longitude</label>
        <InputNumber @bind-Value="SiteRegisterForm.Longitude"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Length</label>
        <InputNumber @bind-Value="SiteRegisterForm.Length"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Depth</label>
        <InputNumber @bind-Value="SiteRegisterForm.Depth"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>AccessRequirement</label>
        <InputNumber @bind-Value="SiteRegisterForm.AccessRequirement"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>PracticalInformation</label>
        <InputNumber @bind-Value="SiteRegisterForm.PracticalInformation"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Ref LambdaData</label>
        <InputNumber @bind-Value="SiteRegisterForm.LambdaData"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Ref Owner</label>
        <InputNumber @bind-Value="SiteRegisterForm.Owner"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Ref ScientificData</label>
        <InputNumber @bind-Value="SiteRegisterForm.ScientificData"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Ref Bibliography</label>
        <InputNumber @bind-Value="SiteRegisterForm.Bibliography"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Site_Name</label>
        <InputNumber @bind-Value="SiteRegisterForm.Site_Name"></InputNumber>
    </div>
</EditForm>

@code {

}
